<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password?</title>
</head>
<body>

<form action="action_page.php" method="post">

    <div class="container">

        <h1>Forgot Password</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <div class="container">
            <button type="submit">Submit</button>
        </div>

    </div>
</form>

<form th:action ="@{/cancelRegistration}">
    <div class="container">
        <button type="submit">Cancel</button>
    </div>
</form>


</body>
</html>