<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To MyClicks</title>
</head>
<body>
   <h1> Welcome to MyClicks</h1>

   <form action="action_page.php" method="post">

       <div class="container">
           <label for="uname"><b>Username</b></label>
           <input type="text" placeholder="Enter Username" name="uname" required>

           <label for="psw"><b>Password</b></label>
           <input type="password" placeholder="Enter Password" name="psw" required>

           <button type="submit">Login</button>

       </div>
   </form>

   <form th:action ="@{/registration}">
       <div class="container">
           <button type="submit">Create Account</button>
       </div>
   </form>


   <div class="container">
       <span class="psw"><a href = "#" th:href="@{/forgotPassword}">Forgot password?</a></span>
   </div>




</body>
</html>